<IfModule mod_headers.c>
    <FilesMatch "\.(woff|woff2|ttf|eot|svg)$">
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "GET"
    </FilesMatch>
</IfModule>
